{% extends "ml/base_core.html" %}

{% block content %}

{% load i18n adminmedia %}

<h2>Reset password</h2>

<p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

<br/>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

<br/>

<p>
<a href="{% url ml_home %}">Back to index</a>
</p>

{% endblock %}
