{% if user.is_authenticated %}
<p>You are logged in as {{ user.username }}. <a href="{% url auth_logout %}">Log out</a></p>
{% else %}

<form action="{% url auth_login %}" method="post">
{% csrf_token %}
<table>
	<tr>
		<th style="text-align: right;"><label for="username">Username</label></th>
	</tr>
	<tr>
		<td><input name="username" id="username" type="text" style="width: 100%;"></td>
	</tr>
	<tr>
		<th style="text-align: right;"><label for="password">Password</label></th>
	</tr>
	<tr>
		<td style="text-align: right;">
			<input name="password" id="password" type="password" style="width: 100%;"><br/>
			<a href="{% url auth_password_reset %}">Forgot your password?</a>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="text-align: right; ">
		<input type="submit" value="Log in">
		<input type="hidden" name="next" value="{% url ml_home %}" />
		</td>
	</tr>
</table>
</form>
<br>
<a href="{% url registration_register %}" 
	style="text-decoration: underline; color: blue;">Create a new account</a>


{% endif %}
